<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BookmarkServer", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body class="w-full">
    <header>
      <section>
        <nav role="navigation" class="bg-gray-500 p-4 w-full flex justify-between">
          <div class="flex flex-row m-2">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <div class="mx-4">
                <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
              </div>
            <% end %>
            <div class="mx-4">
              <%= link "Tags", to: Routes.tag_index_path(@conn, :index) %>
            </div>
            <div class="mx-4">
              <%= link "Sites", to: Routes.site_index_path(@conn, :index) %>
            </div>
          </div>
          <%= render "_user_menu.html", assigns %>
        </nav>
      </section>
    </header>
    <div class="ml-auto mr-auto w-full">
    <%= @inner_content %>
    </div>
  </body>
</html>
