<div class="border-black border-b-2">
  <h2 class="text-xl"><%= @title %></h2>
</div>

<%= f = form_for @changeset, "#",
  id: "site-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <div class="m-4 grid grid-cols-6 gap-4">
    <div class="text-right">
      <%= label f, :url, class: "font-extrabold" do %> URL <% end %>
    </div>
    <div class="col-span-2">
        <%= text_input f, :url, class: "border"%>
    </div>
    <div class="col-span-3 mt-4">
        <%= error_tag f, :url %>
    </div>
  </div>

  <div class="m-4 grid grid-cols-6 gap-4">
    <div class="text-right">
      <div class="font-extrabold">
        Tags
      </div>
    </div>
    <div class="col-span-5">
      <%= if length(@active_tags) > 0 do%>
        <div class="flex">
        <%= for tag <- @active_tags do %>
          <div class="m-1 p-1 px-2 bg-gray-400 rounded-full">
            <div class="inline-block px-1 cursor-pointer bg-pink-300 rounded-full text-red-700" phx-value-tid="<%=tag.id%>" phx-click="remove_tag" phx-target="<%= @myself%>">
              X
            </div>
            <%= tag.name %>
          </div>
        <% end %>
        </div>
      <% else %>
        No tags.
      <% end %>
    </div>
  </div>

  <div class="m-4 grid grid-cols-6 gap-4">
    <div class="text-right">
      <%= label f, :tag, list: "tag_list", class: "font-extrabold" do %>
        Add tag
      <% end %>
    </div>
    <div class="col-span-5 grid grid-cols-2">
      <input value="<%= @new_tag%>" type="text" list="tag_list" phx-blur="create_tag_input" phx-keyup="create_tag_input" phx-target="<%= @myself %>" class="border">
      <datalist id="tag_list" class="h-12 overflow-y-scroll">
        <%= for tag <- @available_tags do %>
          <option value="<%= tag.name%>">
        <% end %>
      </datalist>
      <a href="#" class="bg-blue-300 p-2 rounded-xl" phx-click="add_tag" phx-target="<%= @myself %>"> + Add Tag </a>
    </div>
  </div>

  <div class="grid justify-end">
    <%= submit "Save", phx_disable_with: "Saving...", class: "bg-blue-300 p-2 rounded-xl m-4"%>
  </div>
</form>
