<div class="p-4">
  <div class="grid grid-cols-12 items-baseline border-b-2 border-black">
    <div class="col-span-2">
      <h1 class="text-lg inline-block">Listing Sites</h1>
    </div>

    <div class="col-span-8">
      <div>
        <form phx-change="run_search">
          <%= text_input :query_field,
              :query,
              placeholder: "Search bookmarked sites",
              autofocus: true,
              class: "w-full",
              "phx-debounce": "500" , value: @search%>
        </form>
      </div>
      <div>
        <small>Filtering tags (click to remove)</small>
        <div class="flex">
          <div class="m-1 rounded-full bg-green-200 p-1 px-2">
            <form phx-change="add_filter_tag">
            <%= text_input :filter_tag,
                :tag,
                placeholder: "Add flitering tag",
                class: "w-full",
                list: "tag_list",
                "phx-debounce": "500" , value: @search%>
            <datalist id="tag_list" class="h-12 overflow-y-scroll">
              <%= for tag <- @available_tags do %>
                <option value="<%= tag%>">
              <% end %>
            </datalist>
          </form>
          </div>

          <%= for tag <- @filtering_tags do %>
            <div class="m-1 hover:text-blue-500 cursor-pointer rounded-full bg-blue-200 p-1 px-2" phx-click="remove_filter_tag" phx-value-tag="<%= tag %>">
              <%= tag %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="bg-blue-300 hover:text-blue-500 w-40 text-center rounded-xl m-2">
        <%= live_patch "Create New Site", to: Routes.site_index_path(@socket, :new) %>
      </div>
    </div>
  </div>

  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, BookmarkServerWeb.SiteLive.FormComponent,
      id: @site.id || :new,
      title: @page_title,
      action: @live_action,
      current_user: @current_user,
      site: @site,
      return_to: Routes.site_index_path(@socket, :index) %>
  <% end %>

  <div id="tags" class="p-2">
    <%= if length(@sites) > 0 do %>
    <nav class="border-t border-gray-200 m-4">
        <ul class="flex my-2">
          <li> <a class="px-2 py-2 <%= if @page_number <= 1, do: "pointer-events-none text-gray-600" %>" href="#" phx-click="nav" phx-value-page="<%= @page_number - 1 %>">Previous</a> </li>
      <%= for idx <-  Enum.to_list(1..@total_pages) do %>
          <li > <a class="px-2 py-2 border-b-2 hover:border-blue-200<%= if @page_number == idx, do: "pointer-events-none text-gray-600 border-b-2 border-blue-400" %>" href="#" phx-click="nav" phx-value-page="<%= idx %>"><%= idx %></a> </li>
      <% end %>
          <li> <a class="px-2 py-2 <%= if @page_number >= @total_pages, do: "pointer-events-none text-gray-600" %>" href="#" phx-click="nav" phx-value-page="<%= @page_number + 1 %>">Next</a> </li>
        </ul>
      </nav>
      <div class="bg-white p-8">
      <%= for site <- @sites do %>
        <div id="tag-<%= site.id %>" class="bg-gray-100 hover:bg-gray-200 grid grid-cols-12">
          <div class="col-span-1 flex p-2 justify-evenly items-center">
            <div class="hover:text-blue-500">
              <%= live_redirect to: Routes.site_show_path(@socket, :show, site) do %>
                <%= Heroicons.Solid.information_circle(class: "h-6 w-6") %>
              <% end %>
            </div>
            <div class="hover:text-blue-500">
              <%= live_patch to: Routes.site_index_path(@socket, :edit, site) do %>
                <%= Heroicons.Solid.pencil(class: "h-6 w-6") %>
              <% end %>
            </div>
            <div class="hover:text-blue-500">
              <%= link to: "#", phx_click: "delete", phx_value_id: site.id, data: [confirm: "Are you sure?"] do %>
                <%= Heroicons.Solid.x(class: "h-6 w-6") %>
              <% end %>
            </div>
          </div>
          <div class="col-span-5 items-center flex">
              <a href="<%= site.url %>" class="hover:text-blue-500" target="_blank">
                <%= if site.display_name == "" do%>
                  <%= site.url %>
                <% else  %>
                  <%= site.display_name %>
                <% end %>
              </a>
          </div>
          <div class="col-span-6">
            <div class="flex items-center">
              <%= if length(site.tags) > 0 do %>
                <%= for tag <- site.tags do %>
                  <div class="m-1 hover:text-blue-500 cursor-pointer rounded-full bg-blue-200 p-1 px-2" phx-click="add_filter_tag" phx-value-tag="<%= tag.name %>">
                    <%= tag.name %>
                  </div>
                <% end %>
              <% else %>
                <div class="m-1 p-1">
                No tags assigned.
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% else %>
      No sites defined.
    <% end %>
  </div>
  <div>
    <%= for entry <- @uploads.bookmark_import.entries do %>
    <div class="w-300">
      <%= entry.client_name %> - <progress max="100" value="<%= entry.progress %>" />
      </div>
    <% end %>

    <%= for {_ref, msg} <- @uploads.bookmark_import.errors do %>
      <%= msg %>
    <% end %>

    <form id="import-bookmark-form" phx-submit="upload-bookmark" phx-change="validate-upload">
      <%= live_file_input @uploads.bookmark_import %>
      <%= submit "Import" %>
    </form>
  </div>
</div>
