<div class="p-4">
<div class="flex justify-between">
    <div><h1 class="text-lg  border-b-2 border-black">Listing Sites</h1></div>
    <div>
      <div class="bg-blue-300 hover:text-blue-500 w-40 text-center rounded-xl m-2">
        <%= live_patch "Create New Site", to: Routes.site_index_path(@socket, :new) %>
      </div>
    </div>
  </div>

  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, BookmarkServerWeb.SiteLive.FormComponent,
      id: @site.id || :new,
      title: @page_title,
      action: @live_action,
      site: @site,
      return_to: Routes.site_index_path(@socket, :index) %>
  <% end %>

  <div id="tags" class="p-2">
    <%= if length(@sites) > 0 do %>
      <%= for site <- @sites do %>
        <div id="tag-<%= site.id %>" class="bg-gray-100 flex justify-between gap-4 m-2 p-2">
          <div>
            <a href="<%= site.url %>" class="hover:text-blue-500" target="_blank"><%= site.url %></a>
            </div>

          <div>
            <div class="inline hover:text-blue-500"><%= live_redirect "Show", to: Routes.site_show_path(@socket, :show, site) %></div>
            <div class="inline hover:text-blue-500"><%= live_patch "Edit", to: Routes.site_index_path(@socket, :edit, site) %></div>
            <div class="inline hover:text-blue-500"><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: site.id, data: [confirm: "Are you sure?"] %></div>
          </div>
        </div>
      <% end %>
    <% else %>
      No sites defined.
    <% end %>
  </div>
</div>
