<div class="p-4">
  <div class="flex justify-between">
    <div><h1 class="text-lg  border-b-2 border-black">Listing Tags</h1></div>
    <form phx-change="run_search">
      <%= text_input :query_field,
          :query,
          placeholder: "Search bookmarked sites",
          autofocus: true,
          class: "w-full",
          "phx-debounce": "500" , value: @search%>
    </form>
    <div>
      <div class="bg-blue-300 hover:text-blue-500 w-40 text-center rounded-xl m-2">
        <%= live_patch "Create New Tag", to: Routes.tag_index_path(@socket, :new) %>
      </div>
    </div>
  </div>

  <%= if @live_action in [:new, :edit] do %>
    <%= live_modal @socket, BookmarkServerWeb.TagLive.FormComponent,
      id: @tag.id || :new,
      title: @page_title,
      action: @live_action,
      tag: @tag,
      return_to: Routes.tag_index_path(@socket, :index) %>
  <% end %>

  <div id="tags" class="p-2">
    <%= if length(@tags) > 0 do %>
      <nav class="border-t border-gray-200 m-4">
        <ul class="flex my-2">
          <li> <a class="px-2 py-2 <%= if @page_number <= 1, do: "pointer-events-none text-gray-600" %>" href="#" phx-click="nav" phx-value-page="<%= @page_number - 1 %>">Previous</a> </li>
          <%= for idx <-  Enum.to_list(1..@total_pages) do %>
            <li > <a class="px-2 py-2 border-b-2 hover:border-blue-200<%= if @page_number == idx, do: "pointer-events-none text-gray-600 border-b-2 border-blue-400" %>" href="#" phx-click="nav" phx-value-page="<%= idx %>"><%= idx %></a> </li>
          <% end %>
          <li> <a class="px-2 py-2 <%= if @page_number >= @total_pages, do: "pointer-events-none text-gray-600" %>" href="#" phx-click="nav" phx-value-page="<%= @page_number + 1 %>">Next</a> </li>
        </ul>
      </nav>
      <div class="p-8 bg-white">
        <%= for tag <- @tags do %>
          <div id="tag-<%= tag.id %>" class="hover:bg-gray-200 grid grid-cols-12">
            <div class="col-span-1 flex p-2 justify-evenly items-center">
              <div class="hover:text-blue-500">
                <%= live_redirect to: Routes.tag_show_path(@socket, :show, tag) do %>
                  <%= Heroicons.Solid.information_circle(class: "h-6 w-6") %>
                <% end %>
              </div>
              <div class="hover:text-blue-500">
                <%= live_patch to: Routes.tag_index_path(@socket, :edit, tag) do %>
                  <%= Heroicons.Solid.pencil(class: "h-6 w-6") %>
                <% end %>
              </div>
              <div class="hover:text-blue-500">
                <%= link to: "#", phx_click: "delete", phx_value_id: tag.id, data: [confirm: "Are you sure?"] do %>
                  <%= Heroicons.Solid.x(class: "h-6 w-6") %>
                <% end %>
              </div>
            </div>
            <div class="col-span-11 items-center flex">
              <div>
                <%= tag.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      No tags defined.
    <% end %>
  </div>



</div>
